<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>portfolio.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Formations</servlet-name>
    <servlet-class>portfolio.servlets.Formations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formations</servlet-name>
    <url-pattern>/formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Experiences</servlet-name>
    <servlet-class>portfolio.servlets.Experience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiences</servlet-name>
    <url-pattern>/experience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Competences</servlet-name>
    <servlet-class>portfolio.servlets.Competences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Competences</servlet-name>
    <url-pattern>/competences</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>portfolio.servlets.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>